.cloudpath-eclips-center-1 {
  top: -10px;
  left: calc(50% - 4px);
}
.cloudpath-eclips-center-2 {
  top: 8px;
  left: calc(50% - 4px);
}
.cloudpath-eclips-center-3 {
  top: 26px;
  left: calc(50% - 4px);
}
.cloudpath-eclips-center-4 {
  top: 45px;
  left: calc(50% - 4px);
}
.cloudpath-eclips-left-1 {
  top: 45px;
  left: 46%;
}
.cloudpath-eclips-left-2 {
  top: 45px;
  left: 42.6%;
}
.cloudpath-eclips-left-3 {
  top: 45px;
  left: 39%;
}
.cloudpath-eclips-left-4 {
  top: 45px;
  left: 35.3%;
}
.cloudpath-eclips-left-5 {
  top: 45px;
  left: 31.5%;
}
.cloudpath-eclips-left-6 {
  top: 45px;
  left: 28%;
}
.cloudpath-eclips-left-7 {
  top: 45px;
  left: 24.5%;
}
.cloudpath-eclips-left-8 {
  top: 45px;
  left: 21%;
}
.cloudpath-eclips-left-9 {
  top: 45px;
  left: 17.5%;
}
.cloudpath-eclips-left-10 {
  top: 45px;
  left: 14.5%;
}
.cloudpath-eclips-left-11 {
  top: 45px;
  left: 11.5%;
}
.cloudpath-eclips-left-12 {
  top: 45px;
  left: 8.9%;
}
.cloudpath-eclips-left-13 {
  top: 45px;
  left: 6.4%;
}
.cloudpath-eclips-right-1 {
  top: 45px;
  right: 46%;
}
.cloudpath-eclips-right-2 {
  top: 45px;
  right: 42.6%;
}
.cloudpath-eclips-right-3 {
  top: 45px;
  right: 39%;
}
.cloudpath-eclips-right-4 {
  top: 45px;
  right: 35.3%;
}
.cloudpath-eclips-right-5 {
  top: 45px;
  right: 31.5%;
}
.cloudpath-eclips-right-6 {
  top: 45px;
  right: 28%;
}
.cloudpath-eclips-right-7 {
  top: 45px;
  right: 24.5%;
}
.cloudpath-eclips-right-8 {
  top: 45px;
  right: 21%;
}
.cloudpath-eclips-right-9 {
  top: 45px;
  right: 17.5%;
}
.cloudpath-eclips-right-10 {
  top: 45px;
  right: 14.5%;
}
.cloudpath-eclips-right-11 {
  top: 45px;
  right: 11.5%;
}
.cloudpath-eclips-right-12 {
  top: 45px;
  right: 8.9%;
}
.cloudpath-eclips-right-13 {
  top: 45px;
  right: 6.4%;
}
.cloudpath-eclips-left-1-center-1 {
  top: 65px;
  left: 35.3%;
}
.cloudpath-eclips-left-1-center-2 {
  top: 85px;
  left: 35.3%;
}
.cloudpath-eclips-left-1-center-3 {
  top: 105px;
  left: 35.3%;
}
.cloudpath-eclips-left-2-center-1 {
  top: 65px;
  left: 6.4%;
}
.cloudpath-eclips-left-2-center-2 {
  top: 85px;
  left: 6.4%;
}
.cloudpath-eclips-left-2-center-3 {
  top: 105px;
  left: 6.4%;
}
.cloudpath-eclips-right-1-center-1 {
  top: 65px;
  right: 35.3%;
}
.cloudpath-eclips-right-1-center-2 {
  top: 85px;
  right: 35.3%;
}
.cloudpath-eclips-right-1-center-3 {
  top: 105px;
  right: 35.3%;
}
.cloudpath-eclips-right-2-center-1 {
  top: 65px;
  right: 6.4%;
}
.cloudpath-eclips-right-2-center-2 {
  top: 85px;
  right: 6.4%;
}
.cloudpath-eclips-right-2-center-3 {
  top: 105px;
  right: 6.4%;
}
@media (max-width: 991px) {
  .mbs-software-cloud-form-path-div {
    width: 680px;
    left: calc(50% - 340px);
  }
}
@media(max-width: 767px) {
  .mbs-software-cloud-form-path-div {
    display: none;
  }
  .mbs-software-cloud-form-cloud-row {
    padding-bottom: 10px;
  }
}
