@font-face {font-family: sfgrandeza-light;src: url(../../fonts/SF_Grandezza_Light.ttf);}
@font-face {font-family: museo-300;src: url(../../fonts/Museo300-Regular.otf);}
@font-face {font-family: roboto-light;src: url(../../fonts/Roboto-Light.ttf);}
@font-face {font-family: Roboto-thin;src: url(../../fonts/Roboto-Thin.ttf);}
@font-face {font-family: Roboto-medium;src: url(../../fonts/Roboto-Medium.ttf);}
@font-face {font-family: Roboto-regular;src: url(../../fonts/Roboto-Regular.ttf);}
@font-face {font-family: roboto-lightitalic;src: url(../../fonts/Roboto-LightItalic.ttf);}
@font-face {font-family: opensans-right;src: url(../../fonts/open-sans/OpenSans-Light.ttf);}
@font-face {font-family: quicksand-bold;src: url(../../fonts/quicksand/Quicksand_Bold.otf);}
@font-face {font-family: lato-bold;src: url(../../fonts/lato/Lato-Bold.ttf);}
@font-face {font-family: lato-light;src: url(../../fonts/lato/Lato-Light.ttf);}
@font-face {font-family: lato-black;src: url(../../fonts/lato/Lato-Light.ttf);}
@font-face {font-family: lato-regular;src: url(../../fonts/lato/Lato-Regular.ttf);}
.mbs-msnsgement-svg-container {
  width:75px;
  margin: 0 auto;
}
.mbs-svg-orange {
  fill: #f58231;
}
.mbs-svg-red {
  fill: #f05455;
}
.mbs-svg-green {
  fill: #77c043;
}
.mbs-svg-blue {
  fill: #00aeef;
}
.mbs-facility-section-div {
  width: 70%;
  margin: 0 auto;
}
.mbs-msnsgement-text-container {
  width: 80%;
  text-align: center;
  padding-top: 10px;
  margin: 0 auto;
}
.mbs-facility-section-subdiv {
  padding-bottom: 20px;
  height: 200px;
}
.mbs-msnsgement-text-container p {
  font-family: opensans-right;
}
.mbs-insight-section-div {
  width: 800px;
  background-color: #00aeef;
  margin: 0 auto;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.4);
}
.insight-section-div-nocolor {
  background-color: #ebebeb!important;
  box-shadow: none;
}
.insight-section-div-nocolor p {
  color: #707070!important;
}
.mbs-insight-section-text {
  font-family: roboto-light;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
}
.insight-section-text-big {
  font-size: 25px;
}
.insight-section-text-small {
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}
.mbs-product-top-img__container {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 30px;
}
.mbs-product-top-img__container-img-desktop {
  width: 100%;
}
.mbs-product-overview-undertext {
  /*padding-top: 50px;*/
  padding-bottom: 50px;
}
.mbs-product-overview-undertext-text {
  font-family: lato-regular;
  font-size: 20px;
  color: #555555;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}
.mbs-product-facility-plus-svg-div__container {
  width: 80%;
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
  margin-bottom: 25px;
  cursor: pointer;
  display: block!important;
}
.mbs-product-facility-plus-svg-div {
  width: 110px;
  padding: 20px;
  display: inline-block;
  float: left;
}
.mbs-product-facility-plus-svg-div-img {
  width: 100%;
}
.mbs-product-facility-plus-txt-div {
  width: calc(100% - 120px);
  /*display: inline-block;*/
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  float: left;
}
.mbs-resource-documentation-imagediv {
  text-align: right;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #6e6e6e;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 8px;
  height: 8px;
  background: #00aeef;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.mbs-news-radiobutton {
  text-align: center;
}
.mbs-news-container__div {
  width: 100%;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.6);
}
.mbs-company-support-searchtextinput {
  height: 40px;
  border: 0;
  border-radius: 5px;
  width: 70%;
  color: #3a3939;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  font-family: lato-regular;
}
.mbs-company-support-searchtextinput-searchbutton {
  margin-left: -40px;
  color: #a7a5a5;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
}
.mbs-document-upload-form__container {
  display: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
.mbs-document-upload-form__container.uploadform-show {
  display: block!important;
}
.mbs-document-upload-form {
  padding-top: 20px;
  padding-bottom: 20px;
}
.mbs-document-upload-description-field {
  width: 100%;
  height: 80px;
  border: 0;
}
.mbs-document-delete {
  position: absolute;
  bottom: 0;
  right: 0;
  text-decoration: none;
  color: #707070;
  cursor: pointer;
}
.mbs-document-delete:hover {
  text-decoration: none;
}
.mbs-document-edit {
  position: absolute;
  bottom: 0;
  right: 50px;
  text-decoration: none;
  color: #707070;
  cursor: pointer;
}
.mbs-document-edit:hover {
  text-decoration: none;
}
@media(max-width: 1199px) {
  .mbs-product-top-img__container {
    width: 80%;
  }
}
@media(max-width: 991px) {
  .mbs-facility-section-div {
    width: 100%;
  }
  .mbs-resource-documentation-imagediv {
    text-align: left;
  }
  .mbs-insight-section-div {
    width: 90%;
  }
  .mbs-product-top-img__container {
    width: 90%;
  }
  .mbs-product-facility-plus-svg-div__container {
    width: 100%;
  }
}
@media(max-width: 599px) {
  .mbs-news-radiobutton {
    text-align: left;
  }
  .mbs-product-top-img__container-img-desktop {
    display: none;
  }
  .mbs-product-top-img__container-img-mobile {
    width: 100%;
    display: block!important;
  }
}
@media(max-width: 499px) {
  .mbs-product-facility-plus-txt-div {
    display: none!important;
  }
  .mbs-product-facility-plus-svg-div {
    display: block!important;
    margin: 0 auto;
  }
}
