@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);


#menu-0 .mbs-brand__name {
  font-size: 16px;
}
#menu-0.mbs-navbar--stuck .mbs-navbar__section {
  background: #ffffff;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}
.btn-decorator .mbs-navbar__item:hover > .btn:after, .btn-decorator .mbs-navbar__item:focus > .btn:after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}
.btn-decorator .btn:after {
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -o-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: center center 0px;
    -moz-transform-origin: center center 0px;
    -ms-transform-origin: center center 0px;
    transform-origin: center center 0px;
    -webkit-transition: all 0.35s ease-out 0s;
    -o-transition: all 0.35s ease-out 0s;
    transition: all 0.35s ease-out 0s;
    border-bottom: 2px solid;
    content: "";
    display: block;
    height: 1px;
    left: -1px;
    margin-top: -3px;
    position: relative;
    top: 3px;
    width: 100%;
}
#menu-0 .mbs-navbar__hamburger {
  color: #ffffff;
}
.mbs-navbar--short#menu-0 .mbs-navbar__hamburger {
  color: #3b3a3a;
}
#header1-1 H1 {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 46px;
}
#header1-1 P {
  font-family: 'Open Sans', sans-serif;
}
#content5-2 .mbs-header .mbs-header__text {
  text-align: center;
  color: #fff;
}
#content5-2 .mbs-header .mbs-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2 .mbs-article {
  color: #fff;
  font-weight: 100;
}
#content5-2 .mbs-article P {
  text-align: center;
  font-size: 20px;
}
