@font-face {font-family: sfgrandeza-light;src: url(../../fonts/SF_Grandezza_Light.ttf);}
@font-face {font-family: museo-300;src: url(../../fonts/Museo300-Regular.otf);}
@font-face {font-family: roboto-light;src: url(../../fonts/Roboto-Light.ttf);}
@font-face {font-family: Roboto-thin;src: url(../../fonts/Roboto-Thin.ttf);}
@font-face {font-family: Roboto-medium;src: url(../../fonts/Roboto-Medium.ttf);}
@font-face {font-family: roboto-lightitalic;src: url(../../fonts/Roboto-LightItalic.ttf);}
@font-face {font-family: opensans-right;src: url(../../fonts/open-sans/OpenSans-Light.ttf);}
@font-face {font-family: quicksand-bold;src: url(../../fonts/quicksand/Quicksand_Bold.otf);}
@font-face {font-family: lato-bold;src: url(../../fonts/lato/Lato-Bold.ttf);}
@font-face {font-family: lato-light;src: url(../../fonts/lato/Lato-Light.ttf);}
@font-face {font-family: lato-medium;src: url(../../fonts/lato/Lato-Medium.ttf);}
.mbs-software-backround__text {
  font-family: sfgrandeza-light;
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.9);
  font-size: 40px;
}
.mbs-software-backround__subtext {
  font-family: Roboto-thin;
  font-size: 24px;
}
.mbs-section-currentpath {
  padding: 20px 0;
}
.path-eclips {
  height: 10px;
  width: 10px;
  background-color: #00aeef;
  border-radius: 50%;
  margin: 0 5px 0 5px;;
}
.mbs-software-imac-with-img1 {
  margin-right: calc(50% - 420px);
}
.mbs-software-imac-with-img2 {
  position: absolute;
  top: 45px;
  right: calc(50% - 55px);
  z-index: -1;
}
.imac-logo-div {
  background-color: #F44336;
  padding: 5px;
  font-size: 13px;
  color: #fff;
  width: 110px;
  text-align: center;
  height: 110px;
  border-radius: 50%;
  position: absolute;
  display: table;
}
.imac-logo-div.facility-logo {
  right: -60px;
  bottom: 25px;
}
.imac-logo-div.resident-logo {
  left: -10px;
  bottom: 25px;
}
.imac-logo-div p {
  margin: 0;
}
.imac-logo-subdiv {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.mbs-software-imac-subtext {
  font-size: 18px;
  font-family: opensans-right;
  color: #393838;
}
.mbs-section__container--middle-1 {
  padding-top: 10px;
  padding-bottom: 50px;
}
.mbs-cloud-div__container-form {
  max-width: 900px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 3px 5px 1px rgba(0,0,0, 0.3);
}
.mbs-software-cloud-form-cloud {
  text-align: center;
}
.mbs-software-cloud-form-cloud__text {
  font-family: museo-300;
  font-size: 20px;
  color: #00aeef;
}
.mbs-software-cloud-form-cloud__svg {
  width: 150px;
  margin: 0 auto;
}
.cloud-svg-color {
  fill: #767575;
}
.mbs-software-cloud-form-webportal__svg {
  width: 80px;
  margin: 0 auto;
}
.mbs-software-cloud-form-mobile__svg {
  width: 80px;
  margin: 0 auto;
}
.mbs-software-cloud-form-lobby__svg {
  width: 100px;
  margin: 0 auto;
}
.mbs-software-cloud-form-display__svg {
  width: 100px;
  margin: 0 auto;
}
.mbs-software-cloud-form-cloud-row {
  padding-bottom: 100px;
}
.mbs-software-cloud-form__subtext {
  max-width: 150px;
  margin: 0 auto;
  font-family: quicksand-bold;
  font-size: 15px;
  text-align: center;
  color: #00aeef;
}
.mbs-software-cloud-form-subdiv {
  padding-top: 10px;
  padding-bottom: 20px;
}
.mbs-software-cloud-form-path-div {
  position: absolute;
  width: 800px;
  height: 130px;
  bottom: -115px;
  left: calc(50% - 400px);
}
.cloudpath-eclips {
  position: absolute;
  height: 8px;
  width: 8px;
  background-color: #00aeef;
  border-radius: 50%;
  margin: 0;
}
.mbs-section__container--middle-2 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.mbs-software-facility-management-button-div-svg {
  width: 50px;
  display: inline-block;
}
.mbs-software-button-div {
  padding: 10px;
  background-color: #fff;
  width: 200px;
}
.mbs-software-facility-button-div {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}
.mbs-software-buttons__btn,
.mbs-software-buttons__btn:hover,
.mbs-software-buttons__btn:active,
.mbs-software-buttons__btn:active:focus,
.mbs-software-buttons__btn:focus {
  background-color: #fff;
  width: 300px;
  font-size: 20px;
  color: #636363;
  padding: 20px;
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.2);
  border: 0;
  outline: none!important;
  border-radius: unset!important;
}
.mbs-software-buttons__btn i {
  float: left;
  font-size: 30px;
  margin-left: 20px;
}
.st0 {
  fill:none;
  stroke:#767575;
  stroke-width:18;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}
.st1 {
  fill:none;
  stroke:#767575;
  stroke-width:10;
  stroke-miterlimit:10;
}
.publick-display {
  width: 100px;
}
.mbs-hardware-ipad__container {
  background-size: cover;
  text-align: center;
  padding-top: 10%;
}
.mbs-hardware-ipad__img {
  width: 70%;
}
.mbs-hardware-product__img {
  position: absolute;
  z-index: 1;
}
.product__img-red {
  width: 20%;
  top: 22%;
  right: 8%;
  transform: rotate(-14deg);
}
.product__img-blue {
  width: 15%;
  top: 5%;
  right: 25%;
  transform: rotate(5deg);
}
.product__img-green {
  width: 15%;
  top: 40%;
  right: 13%;
  transform: rotate(19deg);
}
.mbs-hardware-ipad__container-text {
  padding-top: 100px;
}
.mbs-hardware-description-div {
  text-align: center;
}
.mbs-hardware-description-img {
  width: 20%;
}
.mbs-hardware-check-img {
  position: absolute;
  left: -40px;
  top: calc(50% - 15px);
  width: 30px;
}
.mbs-work-method-div {
  width: 280px;
  height: 280px;
  display: table;
  margin: 0 auto;
  border-radius: 50%;
  padding: 35px;
  margin-bottom: 45px;
}
.method-div-green-arrow {
  position: absolute;
  width: 80px;
  top: calc(50% - 42.75px);
  right: calc(0px - 40px);
  transform: rotate(180deg);
}
.method-div-purple-arrow {
  position: absolute;
  width: 80px;
  top: calc(50% - 42.75px);
  right: calc(0px - 40px);
  transform: rotate(180deg);
}
.method-div-pink-arrow {
  position: absolute;
  width: 80px;
  bottom: calc(0px - 40px);
  transform: rotate(270deg);
  left: calc(50% - 40px);
}
.method-div-red-arrow {
  position: absolute;
  width: 80px;
  top: calc(0px - 90px);
  transform: rotate(90deg);
  left: calc(50% - 40px);
}
.method-div-orange-arrow {
  position: absolute;
  width: 80px;
  left: calc(0px - 40px);
  top: calc(50% - 40px);
}
.method-div-blue-arrow {
  position: absolute;
  width: 80px;
  left: calc(0px - 40px);
  top: calc(50% - 40px);
}
.method-div-green {
  background-color: #4CAF50;
  fill: #4CAF50;
}
.method-div-purple {
  background-color: #673AB7;
}
.mbs-work-method-div-childdiv{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  display: table-cell;
  padding: 20px;
  vertical-align: middle;
}
.mbs-work-method-div-childdiv-img-div {
  position: absolute;
  background-color: #fff;
  width: 45%;
  height: 45%;
  border-radius: 50%;
  top: -65px;
  right: calc(50% - 45px);
  padding: 20px;
}
.mbs-work-method-div-childdiv-text-div {
  text-align: center;
}
.childdiv-img-sensor {
  padding: 15px;
}
.childdiv-img-modem {
  padding: 15px;
  text-align: center;
}
.method-div-purple .mbs-work-method-div-childdiv {
  transform: rotate(50deg);
}
.method-div-purple .mbs-work-method-div-childdiv .childdiv-img-sensor svg {
  transform: rotate(-50deg);
}
.method-div-purple .mbs-work-method-div-childdiv .mbs-work-method-div-childdiv-text-div {
  transform: rotate(-50deg);
}
.method-div-pink .mbs-work-method-div-childdiv {
  transform: rotate(120deg);
}
.method-div-pink .mbs-work-method-div-childdiv .childdiv-img-modem img {
  transform: rotate(-120deg);
  margin-top: 3px;
}
.method-div-pink .mbs-work-method-div-childdiv .mbs-work-method-div-childdiv-text-div {
  transform: rotate(-120deg);
}
.method-div-pink {
  background-color: #E91E63;
}
.mbs-section__container--middle1 {
  padding-top: 50px;
}
.method-div-red {
  background-color: #F44336;
  fill : #F44336;
}
.method-div-red .mbs-work-method-div-childdiv {
  transform: rotate(-45deg);
}
.method-div-red .mbs-work-method-div-childdiv .childdiv-img-solveissue svg {
  transform: rotate(45deg);
}
.method-div-red .mbs-work-method-div-childdiv .mbs-work-method-div-childdiv-text-div {
  transform: rotate(45deg);
}
.method-div-orange {
  background-color: #FF9800;
  fill: #FF9800;
}
.method-div-orange .mbs-work-method-div-childdiv {
  transform: rotate(-135deg);
}
.method-div-orange .mbs-work-method-div-childdiv .childdiv-img-message svg {
  transform: rotate(135deg);
}
.method-div-orange .mbs-work-method-div-childdiv .mbs-work-method-div-childdiv-text-div {
  transform: rotate(135deg);
}
.method-div-blue {
  background-color: #00aeef;
  fill: #00aeef;
}
.method-div-blue .mbs-work-method-div-childdiv {
  transform: rotate(180deg);
}
.method-div-blue .mbs-work-method-div-childdiv .childdiv-img-finance svg {
  transform: rotate(-180deg);
}
.method-div-blue .mbs-work-method-div-childdiv .mbs-work-method-div-childdiv-text-div {
  transform: rotate(-180deg);
}
.mbs-hardware-typical-industry-div {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  cursor: pointer;
  transition: all .3s;
  margin-bottom: 15px;
}
.mbs-hardware-typical-industry-div:hover {
  box-shadow: 2px 3px 10px 2px rgba(0,0,0,0.5);
  margin-top: -5px;
}
.mbs-hardware-typical-industry-div img {
  width: 100%;
}
.mbs-hardware-typical-industry-div-overview {
  position: absolute;
  height: auto;
  width: 100%;
  bottom: 0;
  padding: 10px;
  background-color: rgba(0, 146, 196, 0.7);
  z-index: 1;
}
.mbs-hardware-typical-industry-div-overlay {
  width:100%;
  height:100%;
  background-color: rgba(0 ,0 ,0, 0.5);
  position:absolute;
  opacity:0;
  transition: all 0.5s;
}
.mbs-hardware-typical-industry-div:hover .mbs-hardware-typical-industry-div-overlay {
  opacity: 0.8;
}
.mbs-sensor-container-div {
  width: 90%;
  margin: 0 auto;
}
.mbs-sensor-img-div{
  padding: 20px;
  text-align: center;
  height: 160px;
}
.mbs-sensor-img {
  width: 50px;
}
.sensor-img-water_lop {
  width: 70px;
}
.sensor-img-air {
  width: 90px;
}
.sensor-img-humidity {
  width: 75px;
}
.sensor-img-open_door {
  width: 50px;
}
.sensor-img-electrical_sensor {
  width: 70px;
  padding-bottom: 20px;
}
.sensor-img-Car_Front_View {
  width: 80px;
  padding-bottom: 17px;
}
.sensor-img-lightning-circle-fast-charge {
  width: 70px;
}
.sensor-img-run_exit_2 {
  width: 55px;
}
.sensor-img-light {
  width: 41px;
}
.sensor-img-CO {
  width: 70px;
}
@media(max-width: 1199px) {
  .mbs-work-method-div {
    width: 200px;
    height: 200px;
    display: block;
    padding: 25px;
  }
  .mbs-work-method-div-childdiv {
    display: block;
    padding: 25px;
  }
  .mbs-work-method-div-childdiv-text-div p {
    font-size: 11px!important;
  }
  .mbs-work-method-div-childdiv-img-div {
    top: -50px;
    right: calc(50% - 35px);
  }
  .childdiv-img-ipad-text {
    margin-top: 15px;
  }
  .childdiv-img-sensor-text {
    margin-top: 20px;
  }
  .childdiv-img-modem-text {
    margin-top: 11px;
  }
  .childdiv-img-solveissue-text {
    margin-top: 20px;
  }
  .childdiv-img-message-text {
    margin-top: 5px;
  }
  .childdiv-img-finance-finance {
    margin-top: 20px;
  }
  .mbs-hardware-ipad__container {
    padding-top: 18%;
  }
  .mbs-software-imac-with-img1 {
    margin-right: calc(50% - 330px);
  }
  .mbs-software-imac-with-img2 {
    top: 45px;
    right: calc(50% - 35px);
  }
  .imac-logo-div {
    width: 90px;
    height: 90px;
    font-size: 12px;
  }
}
@media(max-width: 999px) {
  .mbs-software-imac-with-img1 {
    margin-right: calc(50% - 250px);
  }
  .mbs-software-imac-with-img2 {
    top: 45px;
    right: calc(50% - 25px);
  }
  .imac-logo-div {
    width: 70px;
    height: 70px;
    font-size: 9px;
  }
  .imac-logo-div.facility-logo {
    right: -40px;
  }
}
@media(max-width: 899px) {
  .method-div-green-arrow {
    width: 35px;
    top: calc(50% - 30px);
    right: calc(0px - 18px);
  }
  .method-div-purple-arrow {
    width: 35px;
    top: calc(50% - 30px);
    right: calc(0px - 18px);
  }
  .method-div-pink-arrow {
    width: 35px;
    bottom: calc(0px - 30px);
    left: calc(50% - 15px);
  }
  .method-div-red-arrow {
    width: 35px;
    top: calc(0px - 70px);
    left: calc(50% - 15px);
  }
  .method-div-orange-arrow {
    width: 35px;
    left: calc(0px - 18px);
    top: calc(50% - 30px);
  }
  .method-div-blue-arrow {
    width: 35px;
    left: calc(0px - 18px);
    top: calc(50% - 30px);
  }
}
@media(max-width: 767px) {
  .mbs-mobile-show-float {
    float: none!important;
  }
  .mbs-mobile-show-padding {
    padding-bottom: 0!important;
    padding-top: 0!important;
  }
  .method-div-blue {
    margin-bottom: 60px!important;
  }
  .method-div-green-arrow {
    width: 35px;
    top: calc(100% + 12px);
    right: calc(50% - 18px);
    transform: rotate(270deg);
    z-index: 1;
  }
  .method-div-purple-arrow {
    width: 35px;
    top: calc(100% + 12px);
    right: calc(50% - 18px);
    transform: rotate(270deg);
    z-index: 1;
  }
  .method-div-pink-arrow {
    width: 35px;
    top: calc(100% + 12px);
    right: calc(50% - 18px);
    transform: rotate(270deg);
    z-index: 1;
  }
  .method-div-red-arrow {
    display: none!important;
  }
  .method-div-orange-arrow {
    width: 35px;
    top: calc(100% + 12px);
    left: calc(50% - 18px);
    transform: rotate(270deg);
    z-index: 1;
  }
  .method-div-blue-arrow {
    width: 35px;
    top: calc(100% + 20px);
    left: calc(50% - 18px);
    transform: rotate(270deg);
    z-index: 1;
  }
  .mbs-software-imac-with-img1 {
    margin-right: calc(50% - 165px);
  }
  .mbs-software-imac-with-img2 {
    top: 47px;
    right: calc(50% - 15px);
  }
  .imac-logo-div {
    width: 50px;
    height: 50px;
    font-size: 6px;
  }
}
@media(max-width: 499px) {
  .mbs-why-sense-at-all {
    font-size: 25px!important;
  }
  .mbs-sensor-container-div {
    width: 100%;
  }
  .mbs-sensor-img-div {
    padding: 10px;
  }
  .mbs-hardware-ipad__img {
    width: 90%;
  }
  .mbs-software-buttons__btn,
  .mbs-software-buttons__btn:hover,
  .mbs-software-buttons__btn:active,
  .mbs-software-buttons__btn:active:focus,
  .mbs-software-buttons__btn:focus {
    width: 100%;
  }
  .mbs-software-backround__text {
    font-family: sfgrandeza-light;
    text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.9);
    font-size: 20px;
  }
  .mbs-software-backround__subtext {
    font-family: Roboto-thin;
    font-size: 13px;
  }
  .mbs-software-imac-with-img1 {
    margin-right: calc(50% - 125px);
  }
  .mbs-software-imac-with-img2 {
    top: 47px;
    right: calc(50% - 10px);
  }
  .imac-logo-div {
    width: 50px;
    height: 50px;
    font-size: 6px;
  }
  .imac-logo-div.facility-logo {
    right: -20px;
    bottom: 10px;
  }
  .imac-logo-div.resident-logo {
    left: -10px;
    bottom: 10px;
  }
}
